<!DOCTYPE html>
<html>
<head>
    <meta charset="utf8"/>
    <title>Create a Route</title>
</head>
<body>
    <h1>Yay!</h1>
    <p>There is a bike-share system near you, called {{networkname}}!
    </p>
    <p>The closest station to you is {{closeststn['name']}}.</br>
        This station is {{lowestdistance}}km away. </br>
        There are currently {{closeststn['free_bikes']}} free bikes.
    </p>
    <p>
        I suggest you bike to the {{choice[0]['name']}} station, which is {{choice_distance}}km away.</br>
        There are currently {{choice[0]['empty_slots']}} empty docks.
    </p>
    <p>You should also check out this place by your endpoint:</br>
        {{poi_name}}</br>
        {% if poi_type%}
        Category: {{poi_type}}</p>
        {% endif %}
    <p>
        <a href="{{gmaps_url}}" target="_blank" rel="noopener noreferrer">Click here to view a Google Map of your suggested route!</a>
    </p>
    {% if tree %}
    <p> Check one or both of the following to see more routes:
        <form action="/viewroutes" method="POST">
            <p>
                <input type="checkbox" name="newlength" id="similar" value="similar"> Routes of similar length <br>
                <input type="checkbox" name="newlength" id="longer" value="longer"> Longer routes <br>
            </p>
            <input type="submit" value="Submit Form"/>
          </form>
    </p>
    {% endif %}
    <p>
        <a href="/">Go back to the homepage</a>
    </p>
</body>
</html>